<div th:fragment="editUserModal">
    <form th:action="@{/api/v1/edit/{id}}" method="PUT">

        <div class="modal fade" id="editModal" tabindex="-1"
             aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit
                            user</h5>
                        <button type="button" class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>

                    <div class="modal-body" align="center">

                        <div class="mb-3 col-6">
                            <label for="id" class="form-label">ID</label>
                            <input readonly type="number" class="form-control"
                                   id="id" placeholder="ID" name="id"
                                   value="">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name"
                                   placeholder="Name" tvalue=""
                                   name="name">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="surname"
                                   class="form-label">Surname</label>
                            <input type="text" class="form-control" id="surname"
                                   placeholder="Surname"
                                   value="" name="surname">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="age" class="form-label">Age</label>
                            <input type="number" class="form-control" id="age"
                                   placeholder="Age" value=""
                                   name="age">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="email" class="form-label">E-Mail</label>
                            <input type="email" class="form-control" id="email"
                                   placeholder="E-Mail" value=""
                                   name="email">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="login" class="form-label">Login</label>
                            <input type="text" class="form-control" id="login"
                                   placeholder="Login" value=""
                                   name="login">
                        </div>


                    </div>
                    <div class="modal-footer">



                    </div>

                </div>
            </div>
        </div>
    </form>
</div>