<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://java.sun.com/jsf/composite">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <div th:replace="fragments/navbar :: navbar">
    </div>


    <title>Пользователь</title>
</head>

<body>
<br/>
<div class="row">

    <!--боковая панель-->
    <div class="col-2">
        <div th:replace="fragments/sidepanel :: sidepanelUser">
        </div>
    </div>
    <!--конец боковой панели-->

    <div class="col-10">
        <div class="container-fluid">
            <h2 class="text-left">User information-page</h2>
            <div class="card text-center">

                <div class="card-body">

                    <div class="card-body">
                        <!--начало таблицы-->
                        <div class="container-fluid">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Login</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Age</th>
                                    <th>E-mail</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:object="${current_user}">
                                    <td th:text="${current_user.id}"></td>
                                    <td th:text="${current_user.login}"></td>
                                    <td th:text="${current_user.name}"></td>
                                    <td th:text="${current_user.surname}"></td>
                                    <td th:text="${current_user.age}"></td>
                                    <td th:text="${current_user.email}"></td>
                                    <td th:text="${current_user.getStringRoles()}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>

                        </div>

                        <!--конец таблицы-->
                    </div>

                    <sec:authorize access="isAuthenticated()">
                        <form action="/user/deleteAcc" th:href="@{/logout}" method="post">

                            <button class="btn btn-danger">Delete account</button>

                        </form>
                    </sec:authorize>


                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                            crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                            crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                            crossorigin="anonymous"></script>

                    <!--конец таблицы-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>




